NET "a<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "a<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "b<0>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "b<1>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP;
NET "cin" LOC = "K17"| IOSTANDARD = LVTTL | PULLDOWN;
NET "sum<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "sum<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "cout" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;